.btn{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(105, 6, 6);
  color: white;
  cursor: pointer;
  
}
.text{
  font-weight: bold;
}
.price{
  background-color: rgb(243, 24, 24);
  padding: 2px 7px;
  border-radius: 5px;
  font-weight: bold;
}